body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    width: 100%;
}

h1, h2, h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:black;
}
nav > a {
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;

}

nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li{
    text-align: center;
    width: 100%;
}
nav ul li a{
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color:rebeccapurple;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    text-align: center;
    padding: 20px;
}

header h1{
    color: rebeccapurple;
}

header p{
    margin-bottom: 2em;

}
#Sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: white;
    color: black;
}
#Sobre h2{
    color: black;
}
#Sobre p{
    max-width: 1000px;
}
#Contato{
    background-color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
#Contato div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
